.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  /* justify-content: space-between;
  align-items: center; */
  margin-top: 72px; /* Adjust the margin to create space below the navbar*/
}

.welcome-message {
  font-size: 1.5rem;
  margin-bottom: 1rem; /* Space above the button */
  font: sans-serif;
  font-style: bold;
}
.text-section {
  /* flex: 1; */
  position: relative;
  background-color: lightblue;
  padding: 191.5px; /* Add some padding inside the section */
}

.subtitle {
  margin-top: 20px; /* Adjust this value as needed */
  font-size: 1.7em;
}

.image-section {
  flex: 1;
  display: flex;
  position: relative;
  background-color: #eeeee4;
  padding: 191.5px;

  /* border: 10px solid #0c3850; Adjust the color and size as needed */

  background-color: #387b82;
}

.image-section img {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -210px;
  transform: translate(-50%, -50%);
  height: auto; /* Maintain aspect ratio */

  border-radius: 20px; /* Adjust border-radius for rounded corners */

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4); /* Horizontal offset, vertical offset, blur radius, and color */
}

.diabetes-section {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #4c7ead;
}

.diabetes-text {
  flex-basis: 50%; /* Take up half of the container's width */

  margin-left: 3rem;
}

.text-container1 h3.title1 {
  font-size: 2.5rem; /* Large text for the heading */
  margin-bottom: 1rem; /* Space below the heading */
  color: white;
}

.text-container1 p.subtitle1 {
  font-size: 1.3rem; /* Adjust the font size as necessary */
  margin-bottom: 2rem; /* Space above the button */
  color: white;
}

.diabetes-text h2 {
  font-size: 2.5rem; /* Large text for the heading */
  margin-bottom: 1rem; /* Space below the heading */
  color: white;
}

.diabetes-text p,
.diabetes-text ul {
  font-size: 1.3rem; /* Adjust the font size as necessary */
  margin-bottom: 2rem; /* Space above the button */
  color: white;
}

.diabetes-text ul {
  list-style: none; /* Removes default list styling */
  padding: 0; /* Removes default padding */
}

.diabetes-text ul li {
  margin-bottom: 0.5rem; /* Space between list items */
}

.highlighted-number {
  font-weight: bold; /* Makes the text bold */
  font-size: 1.5rem; /* Sets a larger font size, adjust as needed */
  color: white; /* Optional: changes the color if needed */
  margin-bottom: 0.5rem; /* Adds some space below the number */
}

.diabetes-image {
  flex-basis: 59%; /* Take up half of the container's width */
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin-left: 2rem;
}

.diabetes-image img {
  width: 100%; /* Responsive image size */
  height: auto; /* Maintain aspect ratio */
  max-height: 500px; /* Limit the height */
  object-fit: cover;
  border-radius: none; /* Rounded corners for the image */
}

.risk-section {
  display: flex;
  background-color: #000000; /* Adjust the background color as needed */
  padding: 40px; /* Adjust the padding as needed */
  color: black; /* Text color */
  align-items: center; /* Vertically center content */
  justify-content: space-between; /* Space out text and button */
}

.risk-text h2 {
  font-size: 2.5rem; /* Large text for the heading */
  margin-bottom: 1rem; /* Space below the heading */
  color: white;
}

.risk-text p {
  font-size: 1.3rem; /* Adjust the font size as necessary */
  margin-bottom: 2rem; /* Space above the button */
  color: white;
}

.risk-text button {
  padding: 1.5rem; /* Padding inside the button */
  font-size: 1.3rem; /* Adjust the font size as necessary */
  background-color: white; /* Background color of the button */
  color: "#303030"; /* Text color of the button */
  border: none; /* No border */
  cursor: pointer; /* Cursor for button */
  /* transition: background-color 0.3s ease; Transition for hover effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.risk-text button:hover {
  background-color: #bb4d4a; /* Darken button on hover */
  color: white;
  transform: translateY(-5px); /* Slight raise effect on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .diabetes-section {
    flex-direction: column;
  }

  .diabetes-image {
    order: -1; /* Image above text on smaller screens */
    margin-bottom: 1rem; /* Space between image and text */
    margin-right: 20rem;
  }
}
