/* InfoButtons.css */
.info-buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.info-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 200px; /* Adjust the width as needed */
  text-decoration: none; /* Remove underline from links */
  color: black; /* Set the text color for the buttons */
  border: 1px solid #ccc; /* Add a border to each button */
  border-radius: 10px; /* Optional: if you want rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.info-button img {
  width: 80px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px;
}

.info-button span {
  text-align: center;
  font-size: 0.9em; /* Adjust as needed */
}

.info-button:hover {
  background-color: #bb4d4a; /* Darken button on hover */
  transform: translateY(-5px); /* Slight raise effect on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
  color: white;
}
