.pred-container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #e9f5f9; */
  background-color: #333;
}
.merged-container1 {
  box-sizing: border-box;
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
  height: 70%;
}

.merged-sub-container1 {
  width: 800px; /* Set the width */
  height: 600px; /* Set the height */
  overflow: auto; /* Add a scrollbar if the content is larger than the container */
  margin-top: 110px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #aec8d1;
  border-radius: 20px;
  box-shadow: white 0px 0px 5px;
  border: 1px solid blue;
}

.right-container-prediction1 {
  position: relative;
  background-color: #bb4d4a;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex; /* Add this line */
  justify-content: center; /* Add this line */
  align-items: center; /* Add this li
  /* padding-top: 15%; */
  border-radius: 20px;
  box-shadow: white 0px 0px 2px;
}

.left-container-prediction1 h1 {
  padding-left: 5%;
  padding-top: 10%;
  font-size: 36px;
  font-weight: "bold";
}

.left-container-prediction1 h2 {
  margin-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0%;
}
.left-sub-container-prediction1 {
  border: 1px solid #bb4d4a;
  padding: 35px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 20px;
}
.left-sub-container-prediction1 h3 {
  font-weight: "bold";
  font-size: 30px;
}
