@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Quicksand&family=Roboto:wght@400;700&display=swap");

.my-class {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
